body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #f1f1f1;
  padding-bottom: 20px;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 20px;
  font-size: 36px;
  color: #333;
}

input[type="file"] {
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #555;
  width: 70%;
  max-width: 400px;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  margin: 0 20px;
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333;
}

#playButton,
#stopButton {
  margin: 0 20px;
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#playButton:hover,
#stopButton:hover {
  background-color: #333;
}


canvas {
  margin-top: 50px;
  border: none;
  background-color: #000;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
}

.visualization-modes {
  margin-top: 20px;
  text-align: center;
}

.visualization-modes h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #333;
}

.mode-buttons {
  margin-top: 10px;
}

.mode-button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mode-button:hover {
  background-color: #333;
}

.extended-container {
  margin-top: 20px;
  text-align: center;
}

.audio-info {
  text-align: left;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.audio-info h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #333;
}

.audio-info ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.audio-info li {
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
}

.audio-info li strong {
  font-weight: bold;
}


.audio-list {
  text-align: center;
}

.audio-list h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #333;
}

.audio-list ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.audio-list button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.audio-list button:hover {
  background-color: #333;
}