<!DOCTYPE html>
<html>
<head>
  <title>Music Visualizer</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Music Visualizer</h1>
    <input type="file" id="audioFile" accept=".mp3, .wav">
    <div class="button-group">
      <button id="playButton">Play</button>
      <button id="stopButton">Stop</button>
    </div>
    <canvas id="visualization"></canvas>
    <div class="audio-info">
      <h3>Audio Information</h3>
      <ul>
        <li><strong>Sample Rate:</strong> <span id="sampleRate"></span> Hz</li>
        <li><strong>Duration:</strong> <span id="duration"></span> seconds</li>
      </ul>
    </div>
  </div>  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
