<!DOCTYPE html>
<html>

<head>
  <title>MelodyMorph</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="icon shortcut icon" href="{{ url_for('static', filename='uploads/images/logo.png') }}" type="image/x-icon">
</head>

<body>
  <!-- Header section -->
  <header>
    <img src="../static/uploads/images/app_logo.png" alt="App Logo" class="logo">
    <h1>MelodyMorph</h1>
  </header>
  <!-- ----------------------------- Main Container ----------------------------- -->
  <div class="container">
    <div class="panel">
      <!-- ----------------------------- Right Section ----------------------------- -->
      <div class="right-section">
        <canvas id="visualization"></canvas>
        <canvas id="visualization3D"></canvas>
        <!-- ----------------------------- Seek Bar and Time Display ----------------------------- -->
        <div class="seek-bar-container">
          <input type="range" id="seekBar" min="0" max="100" value="0">
          <div class="seek-bar-time">
            <span id="currentTime">00:00</span> / <span id="totalTime">00:00</span>
          </div>
        </div>
        <!-- ----------------------------- Visualization Modes ----------------------------- -->
        <div class="visualization-modes">
          <h3>Visualization Modes</h3>
          <div class="mode-buttons-container">
            <div class="mode-buttons" id="modeButtons">
              <!-- Buttons will be dynamically generated here -->
            </div>
          </div>
        </div>

      </div>
      <!-- ----------------------------- Left Section ----------------------------- -->
      <div class="left-section">
        <input type="file" id="audioFile" accept=".mp3, .wav">

        <div class="left-section-top">
          <!----------------------------- Media Controls ----------------------------->
          <div class="media-controls">
            <div class="button-group">
              <button id="prevButton" class="player-button"><i class="fas fa-step-backward"></i></button>
              <button id="playButton" class="player-button"><i class="fas fa-play"></i></button>
              <button id="pauseButton" class="player-button"><i class="fas fa-pause"></i></button>
              <button id="stopButton" class="player-button"><i class="fas fa-stop"></i></button>
              <button id="nextButton" class="player-button"><i class="fas fa-step-forward"></i></button>
            </div>
            <div class="button-texts">
              <p>Previous</p>
              <p>Play</p>
              <p>Pause/Resume</p>
              <p>Stop</p>
              <p>Next</p>
            </div>
            <div class="audio-controls">
              <label for="volumeSlider"><i class="fa-solid fa-volume-high"></i></label>
              <input type="range" id="volumeSlider" min="0" max="2" step="0.1" value="1">
            </div>
            <div class="audio-controls">
              <label for="speedSlider"><i class="fa-solid fa-gauge-high"></i></label>
              <input type="range" id="speedSlider" min="0.25" max="16" step="0.1" value="1">
            </div>
          </div>
          <!-- ----------------------------- Audio Mic ----------------------------- -->
          <div class="audio-mic-container">
            <!-- Big microphone icon for recording audio -->
            <div class="mic-icon">
              <i id="recordButton" class="fa-solid fa-microphone-slash"></i>
            </div>
          </div>
        </div>

        <div class="left-section-bottom">
          <!-- ----------------------------- Audio Information ----------------------------- -->
          <div class="audio-info">
            <h3>Audio Information</h3>
            <ul>
              <li><strong>Duration:</strong> <span id="infoDuration"></span> </li>
              <li><strong>Sample Rate:</strong> <span id="sampleRate"></span> </li>
              <li><strong>Bit Rate:</strong> <span id="bitRate"></span> </li>
              <li><strong>File Size:</strong> <span id="fileSize"></span> </li>
            </ul>
          </div>
          <!-- ----------------------------- Equalizer ----------------------------- -->
          <div class="equalizer-container">
            <h3>Equalizer</h3>
            <div class="equalizer">
              <div class="eq-presets">
                <label for="preset-select">Presets:</label>
                <select id="preset-select">
                  <option value="normal">Normal</option>
                  <option value="pop">Pop</option>
                  <option value="classic">Classic</option>
                  <option value="rock">Rock</option>
                  <option value="jazz">Jazz</option>
                </select>
              </div>
              <div class="eq-sliders">
                <div class="eq-slider">
                  <label for="preamp-slider">Preamp:</label>
                  <input type="range" id="preamp-slider" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="preamp">
                </div>
                <div class="eq-slider">
                  <label for="slider32">32</label>
                  <input type="range" id="slider32" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="32">
                </div>
                <div class="eq-slider">
                  <label for="slider64">64</label>
                  <input type="range" id="slider64" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="64">
                </div>
                <div class="eq-slider">
                  <label for="slider125">125</label>
                  <input type="range" id="slider125" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="125">
                </div>
                <div class="eq-slider">
                  <label for="slider250">250</label>
                  <input type="range" id="slider250" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="250">
                </div>
                <div class="eq-slider">
                  <label for="slider500">500</label>
                  <input type="range" id="slider500" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="500">
                </div>
                <div class="eq-slider">
                  <label for="slider1k">1k</label>
                  <input type="range" id="slider1k" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="1000">
                </div>
                <div class="eq-slider">
                  <label for="slider2k">2k</label>
                  <input type="range" id="slider2k" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="2000">
                </div>
                <div class="eq-slider">
                  <label for="slider4k">4k</label>
                  <input type="range" id="slider4k" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="4000">
                </div>
                <div class="eq-slider">
                  <label for="slider8k">8k</label>
                  <input type="range" id="slider8k" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="8000">
                </div>
                <div class="eq-slider">
                  <label for="slider16k">16k</label>
                  <input type="range" id="slider16k" min="-12" max="12" value="0" step="0.5" class="eq-slider"
                    data-frequency="16000">
                </div>
              </div>
            </div>
          </div>
          <!-- ----------------------------- Lyrics Box ----------------------------- -->
          <div class="lyrics-box">
            <h3>Transcripts</h3>
            <div class="lyrics-content">
              <p>
                In the realm of sound, where melodies roam,<br>
                Melody Morph, an audio visualizer, calls home,<br>
                A symphony of colors, dancing to the beat,<br>
                With every note, a stunning visual treat.<br>
              </p>

              <p>
                Oh, watch as sound takes shape,<br>
                With Melody Morph, a wondrous escape,<br>
                The music comes alive in vibrant hues,<br>
                A mesmerizing display for music lovers to choose.<br>
              </p>

              <p>
                As the audio plays, the visuals unfold,<br>
                A magical journey for the eyes to behold,<br>
                Pitch and tempo, transforming in the air,<br>
                Melody Morph, an experience beyond compare.<br>
              </p>

              <p>
                In the rhythm's embrace, watch colors sway,<br>
                Each sound wave morphing, in a captivating display,<br>
                Harmonies and patterns, interwoven in delight,<br>
                Melody Morph, a symphony of sight.<br>
              </p>

              <p>
                Oh, watch as sound takes shape,<br>
                With Melody Morph, a wondrous escape,<br>
                The music comes alive in vibrant hues,<br>
                A mesmerizing display for music lovers to choose.<br>
              </p>

              <p>
                In this fusion of senses, we find our way,<br>
                To the heart of music, where emotions play,<br>
                With Melody Morph, the audio becomes a sight,<br>
                A divine audio visualizer, igniting pure delight.<br>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- ----------------------------- Extended Container ----------------------------- -->
  <div class="extended-container">
    <div class="audio-tabs">
      <h3>Audio Libraries</h3>
      <ul class="tab-list">
        <li class="tab-item active" data-category="songs">Songs</li>
        <li class="tab-item" data-category="3dSounds">3D Sounds</li>
        <li class="tab-item" data-category="patternWaveform">Pattern Waveform</li>
        <li class="tab-item" data-category="randomNoise">Random Noise</li>
      </ul>
      <div class="audio-list-container">
        <ul class="audio-list" id="songsAudios">
          <li><button class="audio-item" data-audio-path="static/uploads/audios/tum_kya_mile.mp3"><img
                src="static/uploads/images/wave_image (1).avif" alt="Song Audio 1"></button></li>
          <li><button class="audio-item" data-audio-path="static/uploads/audios/floating-in-time.mp3"><img
                src="static/uploads/images/wave_image (2).avif" alt="Song Audio 4"></button></li>
          <li><button class="audio-item" data-audio-path="static/uploads/audios/Free-night-sounds-for-sleep.mp3"><img
                src="static/uploads/images/wave_image (3).avif" alt="Song Audio 5"></button></li>
        </ul>
        <ul class="audio-list" id="3dSoundsAudios">
          <li><button class="audio-item" data-audio-path="static/uploads/audios/Morning-bird-sounds-3d-Audio.mp3"><img
                src="static/uploads/images/wave_image (4).avif" alt="3D Sound 1"></button></li>
          <li><button class="audio-item" data-audio-path="static/uploads/audios/3d-printer.mp3"><img
                src="static/uploads/images/wave_image (5).avif" alt="3D Sound 2"></button></li>
        </ul>
        <ul class="audio-list" id="patternWaveformAudios">
          <li><button class="audio-item" data-audio-path="static/uploads/audios/sine.wav"><img
                src="static/uploads/images/wave_image (6).avif" alt="Sine Wave Audio 1"></button></li>
          <li><button class="audio-item" data-audio-path="static/uploads/audios/square.wav"><img
                src="static/uploads/images/wave_image (7).avif" alt="Square Wave Audio 2"></button></li>
          <li><button class="audio-item" data-audio-path="static/uploads/audios/triangle.wav"><img
                src="static/uploads/images/wave_image (8).avif" alt="Triangle Wave Audio 3"></button></li>
          <li><button class="audio-item" data-audio-path="static/uploads/audios/sci-fi-waves.wav"><img
                src="static/uploads/images/wave_image (9).avif" alt="Random Noise 3"></button></li>
          <li><button class="audio-item" data-audio-path="static/uploads/audios/sample_audio.wav"><img
                src="static/uploads/images/wave_image (10).avif" alt="3D Sound 3"></button></li>
        </ul>
        <ul class="audio-list" id="randomNoiseAudios">
          <li><button class="audio-item" data-audio-path="static/uploads/audios/noise.wav"><img
                src="static/uploads/images/wave_image (11).avif" alt="Random Noise 1"></button></li>
          <li><button class="audio-item" data-audio-path="static/uploads/audios/dragon-monstruo.mp3"><img
                src="static/uploads/images/wave_image (12).avif" alt="Random Noise 2"></button></li>
          <li><button class="audio-item" data-audio-path="static/uploads/audios/square2.wav"><img
                src="static/uploads/images/wave_image (13).avif" alt="Square2 Wave Audio 4"></button></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ----------------------------- Footer ----------------------------- -->
  <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2023 MelodyMorph. All rights reserved.</p>
      <ul class="social-links">
        <li><a href="https://bhaskaracharjee.github.io/Portfolio-Website/"><i class="fa-solid fa-globe"></i></a></li>
        <li><a href="https://github.com/BhaskarAcharjee"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://twitter.com/_bha_s_kar_"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  </footer>

  <!-- ----------------------------- Script ----------------------------- -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="{{ url_for('static', filename='js/bundle.js') }}"></script> <!-- Bundle Script -->

</body>

</html>